@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

.footer{
    background-color: #3e3e3e;
    color: #fff3cd;
    height: 43vh;
}

.flink {
    display: flex;
    align-items: flex-end;
}

.follow {
  padding: 5vh 2vw;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  border-bottom: 1.5px solid grey;
}

.follow span {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4rem;
}

.follow a {
  text-decoration: none;
  color: #fff3cd;
  padding: 0 2vw;
}

.follow a:hover {
  color: #ffa07a;
}

.footNav {
  display: flex;
  padding: 2vh 3vw;
}

.foottxt{
    font-size: 1.46rem;
    font-weight: 500;
}

.footNav a{
    text-decoration: none;
    padding: 0 1vw;
    color: #fff3cd;
    font-weight: 200;
}

.footNav a:hover{
    text-decoration: underline;
}

.footHelp {
    display: flex;
    padding: 3vw;
}

.footHelp span{
    padding: 0 1.3vw;
}

